
-- Add scoping columns to various tables for a true replica dashboard experience

DO \$\$ BEGIN
  -- admin_audit_logs
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'admin_audit_logs' AND column_name = 'country_id') THEN
    ALTER TABLE admin_audit_logs ADD COLUMN country_id UUID REFERENCES countries(id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'admin_audit_logs' AND column_name = 'division_id') THEN
    ALTER TABLE admin_audit_logs ADD COLUMN division_id UUID REFERENCES divisions(id);
  END IF;

  -- escrow_ledger
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'escrow_ledger' AND column_name = 'country_id') THEN
    ALTER TABLE escrow_ledger ADD COLUMN country_id UUID REFERENCES countries(id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'escrow_ledger' AND column_name = 'division_id') THEN
    ALTER TABLE escrow_ledger ADD COLUMN division_id UUID REFERENCES divisions(id);
  END IF;

  -- payout_requests
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'payout_requests' AND column_name = 'country_id') THEN
    ALTER TABLE payout_requests ADD COLUMN country_id UUID REFERENCES countries(id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'payout_requests' AND column_name = 'division_id') THEN
    ALTER TABLE payout_requests ADD COLUMN division_id UUID REFERENCES divisions(id);
  END IF;

  -- wallet_withdrawals
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'wallet_withdrawals' AND column_name = 'country_id') THEN
    ALTER TABLE wallet_withdrawals ADD COLUMN country_id UUID REFERENCES countries(id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'wallet_withdrawals' AND column_name = 'division_id') THEN
    ALTER TABLE wallet_withdrawals ADD COLUMN division_id UUID REFERENCES divisions(id);
  END IF;

  -- proofs
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'proofs' AND column_name = 'country_id') THEN
    ALTER TABLE proofs ADD COLUMN country_id UUID REFERENCES countries(id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'proofs' AND column_name = 'division_id') THEN
    ALTER TABLE proofs ADD COLUMN division_id UUID REFERENCES divisions(id);
  END IF;

  -- verification_sessions
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'verification_sessions' AND column_name = 'country_id') THEN
    ALTER TABLE verification_sessions ADD COLUMN country_id UUID REFERENCES countries(id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'verification_sessions' AND column_name = 'division_id') THEN
    ALTER TABLE verification_sessions ADD COLUMN division_id UUID REFERENCES divisions(id);
  END IF;

END \$\$;

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_admin_audit_logs_country_id ON admin_audit_logs(country_id);
CREATE INDEX IF NOT EXISTS idx_escrow_ledger_country_id ON escrow_ledger(country_id);
CREATE INDEX IF NOT EXISTS idx_payout_requests_country_id ON payout_requests(country_id);
CREATE INDEX IF NOT EXISTS idx_wallet_withdrawals_country_id ON wallet_withdrawals(country_id);
CREATE INDEX IF NOT EXISTS idx_proofs_country_id ON proofs(country_id);
CREATE INDEX IF NOT EXISTS idx_verification_sessions_country_id ON verification_sessions(country_id);

